<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Raspberry Pi Dashboard</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <h1>Metrics</h1>

    <div class="container">
      <div class="box age">
        <h2>Age/Running Indicator</h2>
        <p id="age">Loading...</p>
      </div>
      <div class="box weather">
        <h2>Local Weather</h2>
        <p id="weather">Loading...</p>
      </div>
      <div class="box cpu">
        <h2>CPU Usage</h2>
        <p id="cpu">Loading...</p>
        <br />
        <p id="memory">Loading...</p>
      </div>
      <div class="box cputemperature">
        <h2>CPU Temperature</h2>
        <p id="cputemperature">Loading...</p>
      </div>
      <div class="box throttled">
        <h2>Throttled Status</h2>
        <ul class="status-list">
          <li id="under_voltage">Under Voltage</li>
          <li id="currently_throttled">Currently Throttled</li>
          <li id="freq_capped">Frequency Capped</li>
          <li id="under_voltage_occurred">Under Voltage Occurred</li>
          <li id="throttling_occurred">Throttling Occurred</li>
          <li id="freq_capped_occurred">Frequency Capped Occurred</li>
        </ul>
      </div>

      <div class="box apache2metrics">
        <h2>Apache2 Metrics</h2>
        <a>Status:</a>
        <p id="apache2-active">/</p>
        <ul id="apache-metrics"></ul>
      </div>
    </div>
    <h1>Effectors</h1>
    <div class="container">
      <div class="box reboot">
        <h2>Reboot</h2>
        <button id="reboot-button">Reboot Raspberry Pi</button>
      </div>
      <div class="box setclock">
        <h2>Set CPU clock</h2>
        <button id="min-clock-button">Set Min</button>
        <button id="max-clock-button">Set Max</button>
        <button id="on-demand-button">Set Auto</button>
      </div>
      <div class="box watchdog">
        <h2>Custom WatchDog</h2>
        <p id="watchdog_status">...</p>
        <button id="watchdog-button">Switch Watchdog</button>
      </div>
      <div class="box apache2caching">
        <h2>Apache2 Content Caching</h2>
      </div>
    </div>
    <script src="/static/script.js"></script>
  </body>
</html>
