<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Raspberry Pi Dashboard</title>
    <link rel="stylesheet" href="/static/style.css" />
    <script>
      function updateBackgroundColor() {
        fetch("/background_color")
          .then((response) => response.json())
          .then((data) => {
            document.querySelector("h1").style.color = data.color;
          });
      }

      setInterval(updateBackgroundColor, 3000);
    </script>
  </head>
  <body>
    <div class="container">
      <h1>Raspberry Pi Dashboard</h1>
      <h2>Weather: {{ weather }}</h2>
      <h2>CPU Usage: {{ stats['cpu'] }}%</h2>
      <h2>Memory Usage: {{ stats['memory'] }}%</h2>
      <h2>Age: {{ age }}</h2>
      <form action="/reboot" method="post">
        <button type="submit">Reboot</button>
      </form>
    </div>
  </body>
</html>
